/**
 * Content Admin for the Front-end CSS
 * 
 * Making administration cool again.
 */
#contentAdminMenu {
	background: #4d6b6c;
	border-top: .25em solid #0d2c3c;
	bottom: 0;
	font-size: 11px;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	left: 0;
	line-height: 2em;
	position: fixed;
	width: 100%;
}
