.position {
	max-height: 50em;
	overflow: auto;
	padding-right: .25em;
}

.position ul {
	min-height: 5em;
}

.position .edit {
	visibility: hidden;
}

.position li:hover .edit {
	visibility: visible;
}
