.theme form,
.path form {
	display: inline;
}

.path {
	font-size: 2.5em;
}

.path input[type=text] {
	width: 525px;
	font-size: inherit;
	margin: 0;
}

.theme select {
	font-size: inherit;
	max-width: 250px;
}

.position {
	max-height: 50em;
	overflow: auto;
	padding-right: .25em;
	cursor: move;
}

.position .edit {
	visibility: hidden;
}

.position li:hover .edit {
	visibility: visible;
}

.position .inlineEdit {
	width: 100%;
}
